torch
torchvision
tensorflow
pinecone
pinecone[grpc]
joblib

yt-dlp
selenium

moviepy==1.0.3
ultralytics
tqdm
Werkzeug

opencv-python-headless
numpy==1.25.2
deepsort
pandas

scikit-learn==1.5.2

gunicorn
Flask-Cors
flask
google.generativeai
beautifulsoup4